<app-header></app-header>
<div class="container mt-2">
    <h2><b>Register</b></h2>
    <p style="text-align:justify;">This is a dummy content: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos eum minima numquam
        earum eveniet quas non tempora esse, sunt optio praesentium quisquam cupiditate ipsum iure. Error quibusdam quo
        culpa? Quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo amet eaque accusantium
        provident. Quam, ullam id? Minima ullam in, corporis nesciunt voluptatem, nam quam ipsam, facilis assumenda
        fugit vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, aliquid placeat ex sapiente
        perferendis quod. Nisi asperiores placeat dolorem fuga! Aliquam vero in quidem accusantium sint repellat
        repellendus assumenda deserunt?</p>
        <div class="row">
            <div class="col-4 mt-2 text-center">
                <img style="width: 300px;" src="https://icons.iconarchive.com/icons/graphicloads/flat-finance/256/person-icon.png" alt="register img">
                <br>
                <button class="btn btn-warning mt-2">Back</button>
            </div>
            <div class="col-8">
                <form [formGroup]="registerForm" (ngSubmit)="register()" class="border p-5 mt-5 me-5">
                    <div class="form-floating mb-3">
                        <input name="uname" formControlName="uname" type="text" class="form-control" id="floatingInput" placeholder="Username">
                        <label for="floatingInput">Username</label>
                      </div>
                      <div *ngIf="this.registerForm.get('uname')?.errors&&this.registerForm.get('uname')?.touched" class="text-danger mb-2">Invalid Username</div>
                      <div class="form-floating mb-3">
                        <input name="acno" formControlName="acno" type="text" class="form-control" id="floatingInput" placeholder="Account Number">
                        <label for="floatingInput">Account Number</label>
                      </div>
                      <div *ngIf="this.registerForm.get('acno')?.errors&&this.registerForm.get('acno')?.touched" class="text-danger mb-2">Invalid Account Number</div>        
                      <div class="form-floating mb-2">
                        <input name="pswd" formControlName="pswd" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                      </div>
                      <div *ngIf="this.registerForm.get('pswd')?.errors&&this.registerForm.get('pswd')?.touched" class="text-danger mb-2">Invalid Password</div>
                    <div class="mt-4">
                        <button (click)="register()" type="submit" class="btn btn-primary">Register</button>
                        &nbsp;
                        <span>Already a user? Click here to <a routerLink="/">Login</a></span>
                    </div>
                </form>        
            </div>
        </div>
</div>